* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

.section-title {
  position: relative;
  font-size: 2rem;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 3px;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #2c5462;
  border-radius: 8px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  z-index: 2137;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  text-transform: uppercase;
  padding: 1.5em 3em;
  text-shadow: 1px 1px 2px #222;
  border-bottom: 2px solid #32323a;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav__logo {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 2rem;
  color: #dedede;
  letter-spacing: 2px;
  cursor: pointer;
}

.nav__logo .our {
  color: #1bbe28;
}

.nav__menu {
  font-weight: 700;
  display: none;
  font-size: 2rem;
}

.nav__menu__item {
  position: relative;
  padding: 0.5em 1em;
  margin: 0 1em;
  text-decoration: none;
  color: #dedede;
}

.nav__menu__item::before {
  content: '';
  position: absolute;
  height: 3px;
  border-radius: 5px;
  width: 0;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s width ease-in-out;
  transition: 0.3s width ease-in-out;
  background-color: #dedede;
  overflow: hidden;
}

.nav__menu__item:hover::before {
  width: 70%;
}

.nav__burger {
  font-size: 3rem;
  padding: 0.5em 1em;
  color: #dedede;
}

.header {
  height: 100vh;
  width: 100%;
}

.header__img {
  position: relative;
  background-image: url("../img/background/dolomites-gee42df30d_640.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.header__img__text {
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #dedede;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__img__text .our {
  color: #1bbe28;
}

.header__img--btn {
  margin: 1.5em 1em;
  padding: 0.5em 1em;
  border-radius: 8px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.header__shadow {
  background-color: rgba(0, 7, 10, 0.62);
  width: 100%;
  height: 100%;
}

.header__clickIcon {
  cursor: pointer;
  display: none;
  position: absolute;
  bottom: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: 6s windy infinite linear;
          animation: 6s windy infinite linear;
}

.header__clickIcon .fas {
  font-size: 70px;
  color: #dedede;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-55%, 55%);
          transform: translate(-55%, 55%);
}

.main .pollution {
  width: 100%;
  height: auto;
  padding: 3em 0;
  padding-bottom: 5.2em;
  background-color: #dedede;
}

.main .pollution__boxes {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2em;
}

.main .pollution__box {
  z-index: 200;
  position: relative;
  margin: 0 auto;
  height: 375px;
  width: 250px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-image: url("../img/background/garbage-gfa1a2d140_640.jpg");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
}

.main .pollution__box-shadow {
  width: 100%;
  height: 100%;
  background: #2d6172;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(27%, rgba(147, 190, 27, 0.183)), color-stop(65%, rgba(51, 51, 51, 0.734331)));
  background: linear-gradient(0deg, rgba(147, 190, 27, 0.183) 27%, rgba(51, 51, 51, 0.734331) 65%);
  border-radius: 10px;
}

.main .pollution__box-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  color: #dedede;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px #000;
}

.main .pollution__box p {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: #dedede;
  padding: 2em 1em;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #0a1d3a 0%, #32323a 74%);
  -webkit-perspective: 500px;
          perspective: 500px;
}

.main .pollution__box:hover {
  -webkit-animation: 0.70s hideFromUp forwards;
          animation: 0.70s hideFromUp forwards;
}

.main .pollution__box:hover p {
  -webkit-animation: 0.70s showFromDown forwards;
          animation: 0.70s showFromDown forwards;
}

.main .pollution__box1 {
  background-image: url("../img/garbage-gfa1a2d140_640.jpg");
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main .pollution__box2 {
  background-image: url("../img/power-station-gd3ab7ab9c_640.jpg");
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main .pollution__box3 {
  background-image: url("../img/beach-g5f64a85aa_640.jpg");
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main .pollution__box4 {
  background-image: url("../img/deforestation-g77feb2a99_640.jpg");
  background-position: 40% 50%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main .tidbits {
  background-image: url("../img/background/treeSmall.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.main .tidbits__shadow {
  padding: 4em 2em;
  width: 100%;
  height: 100%;
  background-color: #0e5214e1;
}

.main .tidbits .section-title {
  margin-bottom: 0;
  padding-top: 0;
  color: #dedede;
}

.main .tidbits .section-title::after {
  background: #dedede;
}

.main .tidbits__area {
  padding: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3em;
}

.main .tidbits__area__tidbit {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-style: italic;
  font-size: 1.6rem;
  color: #dedede;
  margin: 0 auto;
  padding: 0 6em;
}

.main .tidbits__area--btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  width: 45%;
  padding: 0.6em 1.3em;
  margin: 0 auto;
}

.main .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'VT323', monospace;
  background-color: #dedede;
}

.main .game__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4em 2em;
  padding: 2em 1em;
  width: clamp(320px, 70vw, 1200px);
  height: 55vh;
  background-color: #2b4162;
  background-image: linear-gradient(300deg, #1bbe28 32%, #69868f 75%);
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px #464646;
          box-shadow: 0px 0px 5px #464646;
}

.main .game__box-img {
  background-size: contain;
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: clamp(150px, 70%, 500px);
  border-radius: 20px;
  margin: 0.5em 2.5em;
  border: 4px solid black;
}

.main .game__box-text {
  color: #dedede;
  margin: 1em 3em;
  text-shadow: 2px 2px 2px black;
}

.main .game__box-text h2 {
  font-size: 2.2rem;
}

.main .game__box-text p {
  text-align: left;
  font-size: 1.5rem;
}

.main .game__box-btn {
  margin: 1em 1em;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.footer {
  font-size: 1.5rem;
  width: 100%;
  background-color: #32323a;
  color: #dedede;
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 576px) {
  .nav {
    padding: 2em 2em;
  }
  .nav__logo {
    font-size: 4rem;
  }
  .nav__burger {
    font-size: 4rem;
  }
}

@media (min-width: 765px) {
  .section-title {
    font-size: 2.5rem;
  }
  .nav {
    padding: 1.7em 2em;
  }
  .nav__logo {
    font-size: 3.2rem;
  }
  .nav__burger {
    font-size: 3rem;
  }
  .header__img {
    background-image: url("../img/background/dolomites-g18009b519_1920.jpg");
  }
  .header__img__text {
    font-size: 2.5rem;
  }
  .header__img--btn {
    margin: 1.5em 1em;
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;
    font-size: 2rem;
  }
  .header__clickIcon {
    display: block;
  }
  .main .pollution__boxes {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 2em;
  }
  .main .pollution__box {
    height: 390px;
    width: 300px;
  }
  .main .pollution__box1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .main .pollution__box2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .main .pollution__box3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .main .pollution__box4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .main .tidbits__area {
    padding-top: 3em;
    gap: 4em;
  }
  .main .tidbits__area__tidbit {
    font-size: 2.4rem;
  }
  .main .tidbits__area--btn {
    font-size: 2rem;
    width: 28%;
  }
}

@media (min-width: 996px) {
  .section-title {
    font-size: 3.5rem;
  }
  .nav {
    padding: 2.5em;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav__burger {
    display: none;
  }
  .nav__menu {
    display: block;
  }
  .header__img {
    background-image: url("../img/background/dolomites-g18009b519_1920.jpg");
  }
  .header__img__text {
    font-size: 2.7rem;
  }
  .main .tidbits {
    background-image: url(../img/background/treeBig.jpg);
  }
  .main .tidbits__area {
    padding-top: 4em;
    gap: 5em;
  }
  .main .tidbits__area__tidbit {
    font-size: 2.7rem;
  }
  .main .tidbits__area--btn {
    font-size: 2rem;
    width: 25%;
  }
  .main .game__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .game__box-img {
    margin-left: 3.5rem;
  }
  .main .game__box-text h2 {
    font-size: 4.5rem;
    margin: 1em 0.5em 0.5em;
  }
  .main .game__box-text p {
    font-size: 2.4rem;
    margin: 0.5em 0;
  }
  .main .game__box-btn {
    margin: 1.5em 0;
    padding: 0.5em 1em;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .main .pollution__boxes {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 3em;
  }
  .main .pollution__box {
    margin: 0 auto;
  }
  .main .pollution__box1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .main .pollution__box2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .main .pollution__box3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .main .pollution__box4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
}

@-webkit-keyframes showFromDown {
  0% {
    opacity: 0;
    bottom: 0;
    top: 0;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
    bottom: -50%;
    top: 50%;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: 201;
    opacity: 1;
    bottom: -0%;
    top: -0%;
  }
}

@keyframes showFromDown {
  0% {
    opacity: 0;
    bottom: 0;
    top: 0;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
    bottom: -50%;
    top: 50%;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: 201;
    opacity: 1;
    bottom: -0%;
    top: -0%;
  }
}

@-webkit-keyframes hideFromUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideFromUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes windy {
  0% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  33% {
    -webkit-transform: translateY(-20%) translateX(-50%);
            transform: translateY(-20%) translateX(-50%);
  }
  77% {
    -webkit-transform: translateY(20%) translateX(-50%);
            transform: translateY(20%) translateX(-50%);
  }
  100% {
    -webkit-transform: translate(0%) translateX(-50%);
            transform: translate(0%) translateX(-50%);
  }
}

@keyframes windy {
  0% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  33% {
    -webkit-transform: translateY(-20%) translateX(-50%);
            transform: translateY(-20%) translateX(-50%);
  }
  77% {
    -webkit-transform: translateY(20%) translateX(-50%);
            transform: translateY(20%) translateX(-50%);
  }
  100% {
    -webkit-transform: translate(0%) translateX(-50%);
            transform: translate(0%) translateX(-50%);
  }
}
/*# sourceMappingURL=style.css.map */